temp_gitignore
.ipynb_checkpoints/box-office-analysis-checkpoint.ipynb
code/data_cleaning_1_sam.ipynb
code/data_cleaning_2_sam.ipynb
box-office-analysis.ipynb

code/data_cleaning.ipynb
data/df_imdb_tn_trimmed.csv
data/df_imdb_tn.csv
presentation.pdf
code/data_cleaning_final_james_no_push.ipynb
code/data_cleaning_final_sam_no_push.ipynb
code/data_exploration_no_push.ipynb
code/data_preparation.py
code/eda_notebook-Copy1.ipynb
code/imdb_basics_financials.csv
code/merged_financials.csv
code/visualizations.py
code/.ipynb_checkpoints/eda_notebook-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleanding_og-deleteme-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning_1_sam-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning_2_sam-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning_final-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning_final-Copy1-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning_james-checkpoint.ipynb
code/.ipynb_checkpoints/data_exploration-checkpoint.ipynb
code/.ipynb_checkpoints/data_cleaning-Copy1-deleteme-checkpoint.ipynb
code/.ipynb_checkpoints/eda_notebook_james-checkpoint.ipynb
code/.ipynb_checkpoints/eda_notebook-checkpoint.ipynb
data/im.db
data/imdb_basics_financials.csv
data/merged_financials.csv
